/* Register form styles for Admin app */

@import '../../../../common/variable.css';

.schema{
    margin-top: 20px;
}
.schema__type{
    margin: 30px 0;
}
.schema__manually_cell{
    height: 100px;
    width: 100px;
    &.__active{
        background-color: yellow;
     }
    &.__unactive{
        background-color: grey;
    }
}
/****************************************/
/**************DEMO 1********************/
/****************************************/
.schemes__light1 {
    display: block;
    height: 100px;
    width: 100px;
    background-color: yellow;
    animation: led 1s infinite;
&:nth-child(1){
     animation-delay: -1s;
 }
&:nth-child(2){
     animation-delay: -0.8s;
 }
&:nth-child(3){
     animation-delay: -0.6s;
 }
&:nth-child(4){
     animation-delay: -0.4s;
 }
&:nth-child(5){
     animation-delay: -0.2s;
 }
&:nth-child(6){
     animation-delay: -1s;
 }
&:nth-child(7){
     animation-delay: -0.8s;
 }
&:nth-child(8){
     animation-delay: -0.6s;
 }
&:nth-child(9){
     animation-delay: -0.4s;
 }
&:nth-child(10){
     animation-delay: -0.2s;
 }
}
/****************************************/
/**************DEMO 2********************/
/****************************************/
.schemes__light2 {
    display: block;
    height: 100px;
    width: 100px;
    background-color: yellow;
    animation: led 0.5s infinite;
&:nth-child(1){
     animation-delay: -0.5s;
 }
&:nth-child(2){
     animation-delay: -0.4s;
 }
&:nth-child(3){
     animation-delay: -0.3s;
 }
&:nth-child(4){
     animation-delay: -0.2s;
 }
&:nth-child(5){
     animation-delay: -0.1s;
 }
&:nth-child(6){
     animation-delay: -0.2s;
 }
&:nth-child(7){
     animation-delay: -0.2s;
 }
&:nth-child(8){
     animation-delay: -0.3s;
 }
&:nth-child(9){
     animation-delay: -0.4s;
 }
&:nth-child(10){
     animation-delay: -0.5s;
 }
}

/****************************************/
/**************DEMO 3********************/
/****************************************/

.schemes__light3 {
    display: block;
    height: 100px;
    width: 100px;
    background-color: yellow;
    animation: led 1s infinite;
&:nth-child(1){
     animation-delay: -1s;
 }
&:nth-child(2){
     animation-delay: -0.9s;
 }
&:nth-child(3){
     animation-delay: -0.8s;
 }
&:nth-child(4){
     animation-delay: -0.7s;
 }
&:nth-child(5){
     animation-delay: -0.6s;
 }
&:nth-child(6){
     animation-delay: 0s;
 }
&:nth-child(7){
     animation-delay: -0.1s;
 }
&:nth-child(8){
     animation-delay: -0.2s;
 }
&:nth-child(9){
     animation-delay: -0.3s;
 }
&:nth-child(10){
     animation-delay: -0.4s;
 }
}


/****************************************/
/**************DEMO 4********************/
/****************************************/

.schemes__light4 {
    display: block;
    height: 100px;
    width: 100px;
    background-color: yellow;
    animation: led 1s infinite;
&:nth-child(1){
     animation-delay: -1s;
 }
&:nth-child(2){
     animation-delay: -0.54s;
 }
&:nth-child(3){
     animation-delay: -0.2s;
 }
&:nth-child(4){
     animation-delay: -0.3s;
 }
&:nth-child(5){
     animation-delay: -0.7s;
 }
&:nth-child(6){
     animation-delay: 0.6s;
 }
&:nth-child(7){
     animation-delay: -0.4s;
 }
&:nth-child(8){
     animation-delay: -0.8s;
 }
&:nth-child(9){
     animation-delay: -0.2s;
 }
&:nth-child(10){
     animation-delay: -0.7s;
 }
}
@-webkit-keyframes led {
    from {
        opacity:1;
    }
    99% {
        opacity: 0;
    }
    to {
        opacity:0;
    }
}

@keyframes led {
    from {
        opacity:1;
    }
    99% {
        opacity: 0;
    }
    to {
        opacity:0;
    }
}