.schema {
    display: block;
    height: 100px;
    width: 100px;

    background-color: rgb(255, 136, 115);
    -webkit-animation: led .8s infinite;
    -moz-animation: led .8s infinite;
    -ms-animation: led .8s infinite;
    -o-animation: led .8s infinite;
    animation: led .8s infinite;
}
@-webkit-keyframes led {
    from {
        opacity:.2;
    }

    to {
        opacity:1;
    }
}

@keyframes led {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}