header(class="user__header" flex="100" layout="row" layout-align="space-between center")
    div(class="header__logo")
        span(class="landing__title_l") L
        span(class="landing__title_u") U
        span(class="landing__title_c") C
        span(class="landing__title_i") I
        span(class="landing__title_d") D
        span(class="landing__title_u") U
        span(class="landing__title_m") M
    div Hello, user {{ctrl.username}}
    md-menu(class="header__menu")
        md-button(class="header__menu_button" ng-click="ctrl.openMenu($mdOpenMenu, $event)")
            ng-md-icon(icon="menu" style="fill: #3f51b5" size="36px" class="menu__button_icon")
        md-menu-content(class="header__menu_content" width="4" flex="100" layout="column" layout-align="center start")
            md-menu-item(class="header__menu_item" layout-align="start center" ui-sref="user.profile") Profile
            md-menu-item(class="header__menu_item" layout-align="start center" ui-sref="user.schema") Create schema
            md-menu-item(class="header__menu_item" layout-align="start center" ui-sref="user.auction") Auction
            md-menu-item(class="header__menu_item" layout-align="start center" ui-sref="user.participate") Participate
            md-menu-item(class="header__menu_item" layout-align="start center" ng-click="ctrl.logout()") Logout
