div(class="wrapper__main")
    div(ng-if="ctrl.type == 'user'")
        include ./user/header/header-tmpl
    div(ng-if="ctrl.type == 'admin'")
        include ./admin/header/header-tmpl
    ui-view(class="main__content")