/* Common styles for Admin app*/

@import '../common/variable.css';

.background-loader{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $grey;
    z-index: 30;
}
.loader__linear{
    z-index: 30;
    width: 40%;
}
