div(class="wrapper_log" flex="100" layout="row" layout-align="center center")
    form(flex="50" flex-sm="80" layout="column" layout-align="center center" class="wrap-login")
            h2 Login
            md-input-container(class="md-block login__container")
                label Username
                input(type='text', name='username',ng-model="ctrl.username", ng-change="ctrl.error = ''")
            md-input-container(class="md-block login__container")
                label Password
                input(type='password', name="password", ng-model="ctrl.password", ng-change="ctrl.error = ''")
            md-button(class="md-raised login__button" ng-class="{'md-primary':!ctrl.isValidFormLogin()}" ng-click="ctrl.login()" ng-disabled="!ctrl.isValidFormLogin()") Login
            a(ui-sref="landing" class="login__text") Go back to the landing page
            div(class="md-warn login__text_error") {{ctrl.error}}
    div(layout="row" ng-show="ctrl.loader" layout-sm="column" layout-align="center center" class="background-loader")
        md-progress-linear(class="loader__linear" md-mode="indeterminate")